<nav class="navbar border-bottom sticky-top bg-dark">
    <div class="d-flex justify-content-start align-content-end container-fluid">
        <div class="w-100 d-flex justify-content-between">
            <div class="d-inline-flex p-2">
                <div class="mt-2"><a class="" href="/"><img src="https://res.cloudinary.com/dg1pgnrnl/image/upload/Assets/NavbarLogo.png" alt="Bootstrap" width="250" height="25"></a></div>
                <div class="ms-4 mt-2"><a class="fs-5 nav-link text-white active" href="/champions/list">Champions</a></div>
            </div>
            <div class="d-inline-flex p-2"><div class="d-inline-flex p-2">
                <div class="d-inline-flex mx-2">
                    <a class="fs-5 text-white active" href="/login">Log In</a>
                </div>
                <div class="d-inline-flex mx-2">
                    <a class="fs-5 text-white active" href="/users/new">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</nav>