<div class="container-fluid banner d-flex">
    <div class="col-md-6 offset-md-3 info">
        <div class="imgleag">
            <img src="https://res.cloudinary.com/dg1pgnrnl/image/upload/Assets/64f5b0b37fa7c-removebg-preview_1_xlmyik.png" alt="">
        </div>
        <p class="text-center">
            Where the legends are made.
        </p>
        <a href="/users/new" class="btn btn-light text-center fs-5">Join Us</a>
</div>
