<div class="container-fluid banner d-flex">
    <div class="col-md-6 offset-md-3 info">
        <h1 class="text-center">IronLegends</h1>
        <p class="text-center">
            Where the legends are made.
        </p>
        <a href="/users/new" class="btn btn-light text-center fs-5">Join Us</a>
        <h5 class="text-center">
            You already have an account?
            </h5>
        <a href="/login" class= "btn btn-light text-center fs-5 login">Log In</a>
    </div> 
</div>
