<div class="register">



<form method="POST" action="/users" class="wrapper">
<h2>Register</h2>
  <div class="input-box">
    <label>Username</label>
    <input name="username" type="text" placeholder="Username"/>
  </div>

  <div class="input-box">
    <label>Password</label>
    <input name="password" type="password" placeholder="Password"/>
  </div>

  <button type="submit">Register</button>

  <div class="login-register">
  <p>Already have an account?<a href="/login" class="login-link">Log In</a></p>
</div>

</form>
</div>
