<h2>Register account</h2>

<form method="POST" action="/users">
  <div>
    <label>Username</label>
    <input name="username" type="text" placeholder="Username"/>
  </div>

  <div>
    <label>Password</label>
    <input name="password" type="password" placeholder="Password"/>
  </div>

  <button type="submit">Create</button>

</form>