<h2>Add New Champion</h2>

<form method="POST" action="/champions">
  <div>
    <label>Name</label>
    <input name="name" type="text" placeholder="Name"/>
  </div>

  <div>
    <label>Class</label>
    <input name="class" type="text" placeholder="Class"/>
  </div>

  <button type="submit">Create</button>

</form>